@model PatientsEvidence.MVC.Models.Patient.PatientViewModel

@{
    ViewData["Title"] = "Detail";
}

    <div>
        <h4>Detail</h4>
        <hr />

        @if (Model.HeightAverage.HasValue)
        {
            <b>Average height of patients heavier than average weight: </b><p>@Model.HeightAverage</p>
        }

        @if (Model.Patient != null)
        {
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="nameLabel">Name</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="Name" aria-describedby="nameLabel" value="@Model.Patient.Name">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="surnameLabel">Surname</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="Surname" aria-describedby="surnameLabel" value="@Model.Patient.Surname">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="heightLabel">Height</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="Height" aria-describedby="heightLabel" value="@Model.Patient.Height">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="weightLabel">Weight</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="Weight" aria-describedby="weightLabel" value="@Model.Patient.Weight">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="birthDateLabel">DateOfBirth</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="DateOfBirth" aria-describedby="birthDateLabel" value="@Model.Patient.DateOfBirth.ToString("dd.MM.yyyy")">
            </div>
            <div class="input-group mb-3 w-25">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="ageLabel">Age</span>
                </div>
                <input type="text" readonly class="form-control" aria-label="Age" aria-describedby="ageLabel" value="@Model.Patient.Age">
            </div>
        }
        else
        {
            <p>Detail page is empty - patient with provided ID does not exist.</p>
        }
    </div>
<div>
    <a asp-action="Index">Back</a>
</div>
